.bodyHeader {
  min-height: 130vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.title {
  font-size: 112px;
  color: #61dafb;
  font-weight: bold;
  width: 100%;
}

.big_title {
  margin-top: -50px;
  font-size: 180px;
  font-family: "Righteous", cursive;
  color: white;
  font-weight: bold;
  width: 100%;
}

.subtitle {
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  font-weight: bold;
  width: 100%;
}
